@{
    ViewBag.Title = "Xác nhận email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Cảm ơn bạn đã xác nhận email. Hãy  @Html.ActionLink("click vào đây đẻ đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
