@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hà Nội<br />
    <abbr title="Phone">0999.999.999</abbr>
</address>

<address>
    <strong>Hỗ trợ:</strong>   <a href="mailto:Support@example.com">Support@example.com</a>
</address>