@{
    ViewBag.Title = "Trang chủ";
}

<div class="jumbotron">
    <h1><strong>Web nghe nhạc</strong></h1>
    <em>Nghe nhạc mọi lúc mọi nơi</em>
</div>
<div class="jumbotron">
    @Html.ActionLink("Tạo playlist nhạc", "Create", "MusicPlaylists")
</div>